html, body, #container {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/*
body {
  padding-top: 50px;
}
*/

input[type="checkbox"], input[type="radio"] {
  margin: 0;
}

#aboutTabsContent {
  padding-top: 10px;
}

#features {
  -webkit-box-shadow: none;
  border-radius: 0px;
  border: none;
  box-shadow: none;
  margin: 0px;
}

#loading {
  height: 19px;
  left: 50%;
  margin: -10px 0 0 -110px;
  position: absolute;
  top: 50%;
  width: 220px;
  z-index: 20001;
}

#map {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  height: 100%;
  width: auto;
}

#sidebar {
  display: block;
  float: left;
  height: 100%;
  max-width: 100%;
  width: 250px;
}

#sidebar-hide-btn {
  margin-top: -2px;
}

.progress-bar-full {
  width: 100%;
}

.panel-heading{
  width: 250px;
}

.panel-body{
  width: 250px;
}

.feature-row {
  cursor: pointer;
  width: 250px;
}

.sidebar-wrapper {
  height: 100%;
  position: relative;
  width: 100%;
}

.sidebar-table {
  bottom: 0px;
  overflow: auto;
  position: absolute;
  top: 103px;
  width: 100%;
}

.leaflet-control-layers {
  overflow: auto;
}

.leaflet-control-layers label {
  font-weight: normal;
  margin-bottom: 0px;
}

.leaflet-control-layers-list input[type="radio"], input[type="checkbox"] {
  margin: 2px;
}

.table {
  margin-bottom: 0px;
}

.navbar-collapse.in {
  overflow-y: hidden;
}

.navbar-header .navbar-icon-container {
  margin-right: 15px;
}

.navbar-header .navbar-icon {
  height: 50px;
  line-height: 50px;
}

.navbar-header a.navbar-icon {
  margin-left: 25px;
}

.tt-dropdown-menu {
  background-color: #FFFFFF;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 4px;
  max-height: 300px;
  overflow: auto;
  padding: 4px 0;
  width: 100%;
}

.tt-suggestion {
  font-size: 14px;
  line-height: 20px;
  padding: 3px 10px;
}

.tt-suggestion p {
  margin: 0;
}

.tt-suggestion.tt-cursor {
  background-color: #0097CF;
  color: #FFFFFF;
  cursor: pointer;
}

.tt-suggestion + .tt-suggestion {
  border-top: 1px solid #ccc;
}

.typeahead {
  background-color: #FFFFFF;
}

.typeahead-header {
  border-bottom: 2px solid #333;
  margin: 0 5px 5px 5px;
  padding: 3px 0;
}

.has-feedback .form-control-feedback {
  display: block;
  height: 34px;
  line-height: 34px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 34px;
}

.social {
  margin: 0;
  padding: 0;
}

.social ul {
  margin: 0;
  padding: 5px;
}

.social ul li {
  display: inline-block;
  list-style: none outside none;
  margin: 5px;
}

.leaflet-control .control-button {
  display: block;
  height: 40px;
  width: 40px;
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 4px 0 0 4px;
  margin-bottom: 10px;
  outline: none
}

.leaflet-control .control-button:hover {
  background-color: black
}

.leaflet-control .control-button.disabled, .leaflet-control .control-button.leaflet-disabled {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: default
}

.leaflet-control .control-button.active {
  background-color: #9ed485
}

.leaflet-control .control-button .icon {
  margin: 10px
}

.leaflet-control .zoomin, .control-layers .control-button {
  margin-bottom: 0px;
  border-radius: 4px 0 0 0
}

.leaflet-control .zoomout, .control-key .control-button {
  margin-bottom: 0;
  border-radius: 0
}

.control-locate .control-button, .control-share .control-button {
  border-radius: 0 0 0 4px
}

@media (max-width: 992px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }
}

@media (max-width: 767px){
  #sidebar {
    display: none;
  }
  .dropdown-menu a i{
    color: #FFFFFF;
  }
  .url-break {
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: break-all;
    word-break: break-word;
  }
}

/* Print Handling */
@media print {
  .leaflet-control-container {
    display: none !important;
  }
  .navbar {
    display: none !important;
  }
}
