doctype html
html(lang='en-GB')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='apple-mobile-web-app-capable' content='yes')
    meta(name='apple-mobile-web-app-title' content='London Cannoli Map')
    meta(name='description' content='The London Cannoli Map. Answering the question: Where can I get cannoli right now?')
    meta(name='keywords' content='cannoli, London, map, where can I buy a cannoli in London')
    meta(name='twitter:card' content='summary')
    meta(name='twitter:description' content='The London Cannoli Map. Answering the question: Where can I get cannoli right now?')
    meta(name='twitter:site' content='@CannoliLondon')
    meta(name='twitter:title' content='The London Cannoli Map')
    meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
    // meta(property='og:image' content='img/TODO.png')
    meta(property='og:locale' content='en_GB')
    meta(property='og:title' content='The London Cannoli Map')
    meta(property='og:type' content='website')
    meta(property='og:url' content='https://cannoli.london')
    title London Cannoli Map
    link(rel='apple-touch-icon' sizes='76x76' href='img/favicon-76.png')
    link(rel='apple-touch-icon' sizes='120x120' href='img/favicon-120.png')
    link(rel='apple-touch-icon' sizes='152x152' href='img/favicon-152.png')
    link(rel='icon' sizes='196x196' href='img/favicon-196.png')
    link(rel='icon' type='image/x-icon' href='img/favicon.ico')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' integrity='sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css' integrity='sha256-bOWY8F32FGGbNDMPAnwWl/Lv9CKen4IQsNZ4RU9rcs0=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/perliedman-leaflet-control-geocoder/1.5.8/Control.Geocoder.min.css' integrity='sha256-tlrFNLcgZ3Z5bEhYvNVi9H/kohDIMiW2gpaVHSifDAM=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.62.0/L.Control.Locate.css' integrity='sha256-ray5qizTR3wsFjb1jWKcde5q1Jm4eiuAOCH1ch2HRbY=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://unpkg.com/leaflet.beautifymarker@1.1.1/leaflet-beautify-marker-icon.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.3.0/MarkerCluster.css' integrity='sha256-+bdWuWOXMFkX0v9Cvr3OWClPiYefDQz9GGZP/7xZxdc=' crossorigin='anonymous')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.3.0/MarkerCluster.Default.css' integrity='sha256-LWhzWaQGZRsWFrrJxg+6Zn8TT84k0/trtiHBc6qcGpY=' crossorigin='anonymous')
    link(rel='stylesheet' href='css/app.css')
  body
    //
      .navbar.navbar-inverse.navbar-fixed-top(role='navigation')
        .container-fluid
          .navbar-header
            .navbar-icon-container
              a#nav-btn.navbar-icon.pull-right.visible-xs(href='#')
                i.fa.fa-bars.fa-lg
              a#sidebar-toggle-btn.navbar-icon.pull-right.visible-xs(href='#')
                i.fa.fa-search.fa-lg
            a.navbar-brand(href='#') London Cannoli Map
          .navbar-collapse.collapse
            form.navbar-form.navbar-right(role='search')
              .form-group.has-feedback
                input#searchbox.form-control(type='text' placeholder='Search')
                span#searchicon.fa.fa-search.form-control-feedback
            ul.nav.navbar-nav
              li: a#about-btn(href='#' data-toggle='collapse' data-target='.navbar-collapse.in')
                i.fa.fa-question-circle &nbsp;&nbsp;About
              li.dropdown
                a#toolsDrop.dropdown-toggle(href='#' role='button' data-toggle='dropdown')
                  i.fa.fa-globe &nbsp;&nbsp;Tools
                  b.caret
                ul.dropdown-menu
                  li
                    a#full-extent-btn(href="#" data-toggle="collapse" data-target=".navbar-collapse.in")
                      i.fa.fa-arrows-alt &nbsp;&nbsp;Zoom To Full Extent
                  li
                    a#legend-btn(href="#" data-toggle="collapse" data-target=".navbar-collapse.in")
                      i.fa.fa-picture-o &nbsp;&nbsp;Show Legend
              li.dropdown
                a#downloadSrop.dropdown-toggle(href="#" role="button" data-toggle="dropdown")
                  i.fa.fa-cloud-download &nbsp;&nbsp;Download
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="features.geojson" download="features.geojson" target="_blank" data-toggle="collapse" data-target=".navbar-collapse.in")
                      i.fa.fa-download &nbsp;&nbsp;Features
              li.hidden-xs
                a#list-btn(href="#" data-toggle="collapse" data-target=".navbar-collapse.in")
                  i.fa.fa-list &nbsp;&nbsp;POI List
    #container
      #sidebar
        .sidebar-wrapper
          #features.panel-default
            .panel-heading
              h3.panel-title Points of Interest
              button#sidebar-hide-btn.btn.btn-default.btn-xs.pull-right(type="button")
                i.fa.fa-chevron-left
            .panel-body
              .row
                .col-xs-12.col-md-12
                  input.form-control.search(type="text" placeholder="Filter")
                // .col-xs-4.col-md-4
                //  button#sort-btn.btn.btn-primary.pull-right.sort(type="button" data-sort="feature-name")
                //    i.fa.fa-sort &nbsp;&nbsp;Sort
            .sidebar-table
              table#feature-list.table.table-hover
                tbody.list
      #map(itemscope itemtype='http://schema.org/Map')
    #loading
      .loading-indicator
        .active.progress.progress-striped
          .progress-bar.progress-bar-full.progress-bar-info
    #aboutModal.fade.modal(tabindex="-1" role="dialog")
      .modal-dialog.modal-lg
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h4.modal-title Welcome to the London Cannoli Map!
          .modal-body
            ul#aboutTabs.nav.nav-tabs.nav-justified
              <li class="active"><a href="#about" data-toggle="tab"><i class="fa fa-question-circle"></i>&nbsp;About the project</a></li>
              <li><a href="#contact" data-toggle="tab"><i class="fa fa-envelope"></i>&nbsp;Contact us</a></li>
              <li><a href="#disclaimer" data-toggle="tab"><i class="fa fa-exclamation-circle"></i>&nbsp;Disclaimer</a></li>
              li.dropdown
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-globe"></i>&nbsp;Metadata <b class="caret"></b></a>
                ul.dropdown-menu
                  <li><a href="#theaters-tab" data-toggle="tab">Theaters</a></li>
            #aboutTabsContent.tab-content
              #about.active.fade.in.tab-pane
                p A simple, responsive template for building web mapping applications with <a href="http://getbootstrap.com/">Bootstrap 3</a>, <a href="http://leafletjs.com/" target="_blank">Leaflet</a>, and <a href="http://twitter.github.io/typeahead.js/" target="_blank">typeahead.js</a>. Open source, MIT licensed, and available on <a href="https://github.com/bmcbride/bootleaf" target="_blank">GitHub</a>.
                .panel.panel-primary
                  .panel-heading Features
                  ul.list-group
                    <li class="list-group-item">Fullscreen mobile-friendly map template with responsive navbar and modal placeholders</li>
                    <li class="list-group-item">jQuery loading of external GeoJSON files</li>
                    <li class="list-group-item">Logical multiple layer marker clustering via the <a href="https://github.com/Leaflet/Leaflet.markercluster" target="_blank">leaflet marker cluster plugin</a></li>
                    <li class="list-group-item">Elegant client-side multi-layer feature search with autocomplete using <a href="http://twitter.github.io/typeahead.js/" target="_blank">typeahead.js</a></li>
                    <li class="list-group-item">Responsive sidebar feature list synced with map bounds, which includes sorting and filtering via <a href="http://listjs.com/" target="_blank">list.js</a></li>
              #disclaimer.fade.tab-pane.text-danger
                p The data provided on this site is for informational and planning purposes only.
                p Absolutely no accuracy or completeness guarantee is implied or intended. All information on this map is subject to such variations and corrections as might result from a complete title search and/or accurate field survey.
              #contact.fade.tab-pane
                form#contact-form
                  .well.well-sm
                    .row
                      .col-md-4
                        <div class="form-group">
                          <label for="first-name">First Name:</label>
                          <input type="text" class="form-control" id="first-name">
                        </div>
                        <div class="form-group">
                          <label for="last-name">Last Name:</label>
                          <input type="text" class="form-control" id="last-email">
                        </div>
                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input type="text" class="form-control" id="email">
                        </div>
                      </div>
                      <div class="col-md-8">
                        <label for="message">Message:</label>
                        <textarea class="form-control" rows="8" id="message"></textarea>
                      </div>
                      <div class="col-md-12">
                        <p>
                          <button type="submit" class="btn btn-primary pull-right" data-dismiss="modal">Submit</button>
                        </p>
              #boroughs-tab.fade.tab-pane
                p Borough data courtesy of <a href="https://github.com/radoi90/housequest-data" target="_blank">Emil Culic</a>.
              #theaters-tab.fade.tab-pane
                p Theater data courtesy of <a href="https://data.cityofnewyork.us/Recreation/Theaters/kdu2-865w" target="_blank">NYC Department of Information & Telecommunications (DoITT)</a></p>
          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") Close
    #legendModal.fade.modal(tabindex="-1" role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h4.modal-title Map Legend
          .modal-body
            p Map Legend goes here...
          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") Close
    #featureModal.fade.modal(tabindex="-1" role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h4#feature-title.modal-title.text-primary
          #feature-info.modal-body
          .modal-footer
            button.btn.btn-default(type="button" data-dismiss="modal") Close
    #attributionModal.fade.modal(tabindex="-1" role="dialog")
      .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button" data-dismiss="modal" aria-hidden="true") &times;
            h4.modal-title
              Developed by <a href='http://bryanmcbride.com'>bryanmcbride.com</a>
          .modal-body
            #attribution
    #warningAlert.alert.alert-warning.fade(role='alert' tabindex="-1")
      Alert message goes here.
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js' integrity='sha256-GXUdrV9FHGDyzoSGD3O+jR3eYZaZZsjbsMvFhK3C0qg=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/perliedman-leaflet-control-geocoder/1.5.8/Control.Geocoder.min.js' integrity='sha256-kghNj2U2YFTRsx/5XTiwleYPToRAtxLrdeG5bTEL/7o=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet-locatecontrol/0.62.0/L.Control.Locate.min.js' integrity='sha256-mx2qkONLiyGovXkDR+LJKyI7jiw9iuhxCNokVAnNmKs=' crossorigin='anonymous')
    script(src='https://unpkg.com/leaflet.beautifymarker@1.1.1/leaflet-beautify-marker.js' integrity='sha384-hIS3ZTGbwE64JumJo33dDCfYllCe3dtrHv498+v5+wAR5YVx1QT7KZ6pKJbQ+s3c' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.3.0/leaflet.markercluster.js' integrity='sha256-3ojygIn9E2azRCTFNSS+qcVr8FT9yfpol9iG2ZaRz4w=' crossorigin='anonymous')
    // script(src='https://unpkg.com/leaflet.featuregroup.subgroup@1.0.1/dist/leaflet.featuregroup.subgroup.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js' integrity='sha256-YqOIp4MygNx9/lcWr5lpcR88Ki/MNMWvJJkH0eK+fHM=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.min.js' integrity='sha256-RWiU4omUU7tQ2M3wmRQNW9UL50MB4CucbRPCbsQv+X0=' crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js' integrity='sha256-+JMHsXRyeTsws/tzbIh5YHQxRdKCuNjmvNcTFtY6DLc=' crossorigin='anonymous')
    script(src='https://unpkg.com/opening_hours@3.5.0/opening_hours.js' integrity='sha384-AgXdS+NoAC5/M7Xk1k+2cVEFa8KujkLlcCZGM9E48OKdf9vXI9ChbD40bMg3feOW' crossorigin='anonymous')
    script(src='js/app.js')
